.card {
  max-width: 700px;
  background-color: rgba(36, 27, 83, 0.6);
  color: #ffffff;
  font-size: 2.5rem;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-shadow: 4px 4px 8px rgb(0, 0, 0, 0.8);
  margin-bottom: 2rem;
}

.yes-button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #272d60;
  color: #fff;
  padding: 10px 60px;
  border: none;
  border-radius: 25px;
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}

.yes-button:hover {
  background-color: #2d3790;
  color: #fff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

@media (max-width: 1890px) {
  .card {
    padding: 10px;
    border-radius: 10px;
  }
}


@media (max-width: 480px) {
  .card {
    padding: 5px;
    border-radius: 5px;
  }
}



